{
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false,
		"requireConfigFile": false
	},
	"extends": [
		"prettier"
	],
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": {
		"prefer-promise-reject-errors": [
			"off"
		],
		"react/jsx-filename-extension": [
			"off"
		],
		"react/prop-types": [
			"off"
		],
		"no-return-assign": [
			"off"
		]
	}
}
